
   

    <div class="jumbotron unit" style="padding: 30px; background-color: #f5f5f5;">
	   <% if(!locals.user){ %>
		    <h1>welcome to Microblog</h1>
			<p>Microblog is a blog system based on Node.js</p>
			<p>
			    <a class="btn btn-primary btn-large" href="/login">Login</a>
				<a class="btn btn-default btn-large" href="/reg">Register</a>
			</p>
		<% }else{ %>
		    <% include say %>
		 <% } %>  
    </div>
 <% include pic %>

    <% include blogs %>


