<form class="form-inline" action="/postblog" method="post">
    <textarea class="form-control" placeholder="Post Blog" name="blogtext" style="width:960px;"></textarea>
    <button type="submit" class="btn btn-post" style="">Post</button>

</form>